root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

# do not trim trailing whitespace in markdown files
[*.md]
trim_trailing_whitespace = false

# windows specific files
[*.{bat,cmd}]
end_of_line = crlf