#mainGrid {
     -fx-padding: 10 ;
}

#fieldGrid{
    -fx-grid-lines-visible: true;
    -fx-background-image: url("mars.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 720 720;
    -fx-padding: 0;
    -fx-background-position: center center;
    -fx-border-color: white;
}

#bottomBenchGrid{
    -fx-grid-lines-visible: true;
    -fx-background-image: url("moon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 720 100;
    -fx-padding: 0;
    -fx-background-position: center center;
    -fx-border-color: white;
}

#topBenchGrid{
    -fx-grid-lines-visible: true;
    -fx-background-image: url("moon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 720 100;
    -fx-padding: 0;
    -fx-background-position: center center;
    -fx-border-color: white;
}

#pane{
    -fx-background-image: url("background1.jpg");
}

#topBuyButton{
    -fx-background-color: #DAA520;
}

#bottomBuyButton{
    -fx-background-color: #DAA520;
}

#bottomBuyButton:hover{
    -fx-background-color: #D2691E;
}

#topBuyButton:hover{
    -fx-background-color: #D2691E;
}